In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('iris.data', header=None)

In [3]:
df.head()

     0    1    2    3            4
0  5.1  3.5  1.4  0.2  Iris-setosa
1  4.9  3.0  1.4  0.2  Iris-setosa
2  4.7  3.2  1.3  0.2  Iris-setosa
3  4.6  3.1  1.5  0.2  Iris-setosa
4  5.0  3.6  1.4  0.2  Iris-setosa

In [4]:
df.columns = ['sepal length in cm', 'sepal width in cm', 'petal length in cm', 'petal width in cm', 'class']

In [5]:
df.head()

,sepal length in cm,sepal width in cm,petal length in cm,petal width in cm,class
0,5.1,3.5,1.4,0.2,Iris-setosa
1,4.9,3.0,1.4,0.2,Iris-setosa
2,4.7,3.2,1.3,0.2,Iris-setosa
3,4.6,3.1,1.5,0.2,Iris-setosa
4,5.0,3.6,1.4,0.2,Iris-setosa

In [6]:
y = df['class'].values

In [7]:
df.drop(axis=1, inplace=True, labels='class')

In [8]:
X = df.values

In [9]:
print(X.shape)
print(y.shape)

(150, 4)
(150,)

In [10]:
y[0:5]

array(['Iris-setosa', 'Iris-setosa', 'Iris-setosa', 'Iris-setosa',
       'Iris-setosa'], dtype=object)

In [11]:
X[0:5]

array([[5.1, 3.5, 1.4, 0.2],
       [4.9, 3. , 1.4, 0.2],
       [4.7, 3.2, 1.3, 0.2],
       [4.6, 3.1, 1.5, 0.2],
       [5. , 3.6, 1.4, 0.2]])

In [14]:
from sklearn.model_selection import train_test_split

In [16]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.9, random_state=42, shuffle=True, stratify=y)

# Standardization

In [12]:
from sklearn.preprocessing import StandardScaler

In [13]:
std = StandardScaler()

In [19]:
X_train_std = std.fit_transform(X_train)
X_test_std = std.transform(X_test)

In [20]:
X_train_std[0:5]

array([[ 1.19452367,  0.30570892,  0.62281135,  0.49431153],
       [-0.10859306, -0.15285446,  0.24038333,  0.08238526],
       [-1.62889591, -0.15285446, -1.45322649, -1.42801109],
       [-0.10859306, -0.61141784,  0.24038333,  0.21969401],
       [-0.76015142,  2.13996244, -1.28932877, -1.15339358]])

In [21]:
X_test_std[0:5]

array([[-1.30311673,  0.30570892, -1.23469619, -1.29070234],
       [-0.76015142,  2.13996244, -1.28932877, -1.29070234],
       [-0.76015142,  3.51565258, -1.18006362, -1.29070234],
       [-1.30311673,  0.7642723 , -1.28932877, -1.29070234],
       [-0.10859306, -1.06998122,  0.40428105,  0.21969401]])

In [22]:
from sklearn.linear_model import LogisticRegression

In [23]:
clf = LogisticRegression(multi_class='auto', solver='lbfgs')

In [26]:
clf.fit(X_train_std, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='auto',
          n_jobs=None, penalty='l2', random_state=None, solver='lbfgs',
          tol=0.0001, verbose=0, warm_start=False)

In [29]:
y_pred = clf.predict(X_test_std)

In [27]:
from libs import metrics

In [39]:
import importlib
importlib.reload(metrics)

# Accuracy

In [30]:
metrics.accuracy(y_test, y_pred)

0.9481481481481482

# Precision

In [36]:
metrics.precision(y_test, y_pred)

0.948903932946486

# Recall

In [37]:
metrics.recall(y_test, y_pred)

0.9481481481481482

# F1 Measure

In [40]:
metrics.f1_measure(y_test, y_pred)

0.9485258899951349

# Log Loss

In [41]:
from sklearn.metrics import log_loss

In [43]:
y[0:5]

array(['Iris-setosa', 'Iris-setosa', 'Iris-setosa', 'Iris-setosa',
       'Iris-setosa'], dtype=object)